<div class="contact-box" id="contact">
	<div class="contact-container">
		<h4>Contact Me</h4>
		<p>I'm open for freelancing projects</p>
		<form name="contact" method="POST" data-netlify="true">
			<div class="form-field">
				<label for="name">Email</label>
				<input type="email" name="email" placeholder="Email" required>
			</div>
			<div class="name-field-wrapper">
				<div class="form-field">
					<label for="first-name">First Name</label>
					<input type="text" name="first-name" placeholder="First Name" required>
				</div>
				<div class="form-field">
					<label for="last-name">Last Name</label>
					<input type="text" name="last-name" placeholder="Last Name" required>
				</div>
			</div>
			<div class="submit-button-wrapper">
				<button type="submit">
					Submit
				</button>
			</div>
		</form>
		<p class="text-or"><span>OR</span></p>
		<div class="email-me">
			<i class="mdi mdi-email" aria-hidden="true"></i>
			<a href="mailto:siddharthroy36912@gmail.com" target="_blank">Email me</a>
		</div>
	</div>
</div>