<footer>
	<div class="container">
		<p>© siddharthroy.netlify.app {{ now.Format "2006" }}</p>
		<ul class="social-links">
			<li>
				<a href="https://www.instagram.com/siddharthroy12/" rel="noreferrer" target="_blank">
					<i class="mdi mdi-instagram" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/Siddharth_Roy12" rel="noreferrer" target="_blank">
					<i class="mdi mdi-twitter" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/siddharthroy12" rel="noreferrer" target="_blank">
					<i class="mdi mdi-github" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/profile.php?id=100065304168374" rel="noreferrer" target="_blank">
					<i class="mdi mdi-facebook" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
</footer>