<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="I'm a Web Developer">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
	<!-- My CSS -->
	<link rel="stylesheet" href="css/main.css" />
	<title>Siddharth Roy - Web Developer</title>
</head>