{{ define "main" }}
<main>
	<div class="featured-header-container">
		<h3>
			<p class="text-my-work">{{ .Title }}</p>
		</h3>
	</div>
	<div class="project-list">
		<div class="container">
			{{ range .Paginator.Pages }}
				<div class="project-card">
					<div class="padding-1">
						<h4 class="project-title">{{ .Title }}</h4>
						<p class="project-desc">
							{{ .Param "desc" }}
						</p>
						<ul class="project-techs">
							{{ range .Param "stack"}}
								<li>{{ . }}</li>
							{{ end }}
						</ul>
					</div>
					<div class="project-links">
						<div class="padding-1">
							<a href="{{ .Param `code` }}" target="_blank" rel="noreferrer">Code</a>
							<a href="{{ .Param `live` }}" target="_blank" rel="noreferrer">Live</a>
						</div>
					</div>
				</div>
			{{ end }}
		</div>
	</div>
	{{ template "_internal/pagination.html" . }}
</main>
{{ end }}