{{ define "main" }}
<section rol="hero" class="blog-hero">
	<img src="{{ .Param `banner` }}" alt="Banner" title="Blog Banner">
</section>
<article>
	<div class="container content">
		{{ .Content }}
	</div>
</article>
<div class="container">
	<section class="author">
		<div class="avatar-section">
			<img src="https://siddharthroy.netlify.app/img/profilepic.jpg" alt="avatar" class="author-avatar">
		</div>
		<div class="info-section">
			<h3 class="author-name">
				{{ with .Site.GetPage "/" }}
					{{ .Param "name" }}
				{{ end }}
			</h3>
			<p>
				{{ with .Site.GetPage "/" }}
					{{ .Param "what-i-do" }}
				{{ end }}
			</p>
		</div>
	</section>
</div>
<div id="disqus_thread" class="container" style="margin-bottom: 4rem;"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://siddharth-roy.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}
{{ define "contact" }}
{{- partial "contact.html" . -}}
{{ end }}