{{ define "main" }}
<main>
	<div class="avatar">
		<img src="https://siddharthroy.netlify.app/img/profilepic.jpg" alt="avatar">
	</div>
	<h1 class="name">{{ .Param "name" }}</h1>
	<h2 class="profession">{{ .Param "profession" }}</h2>
	<div class="container">
		<div class="what-i-do">
			<p>
				{{ .Param "what-i-do" }}
			</p>
		</div>
		<div class="techs">
			<div class="chip">
				<i class="mdi mdi-react" aria-hidden="true"></i>
				<span>
					React
				</span>
			</div>
			<div class="chip">
				<i class="mdi mdi-nodejs" aria-hidden="true"></i>
				<span>
					Node
				</span>
			</div>
			<div class="chip">
				<i class="mdi mdi-language-typescript" aria-hidden="true"></i>
				<span>
					Typescript
				</span>
			</div>
			<div class="chip">
				<i class="mdi mdi-language-python" aria-hidden="true"></i>
				<span>
					Python
				</span>
			</div>
			<div class="chip">
				<i class="mdi mdi-vuejs" aria-hidden="true"></i>
				<span>
					Vue
				</span>
			</div>
		</div>
	</div>
	<hr>
</main>
<section class="featured-work">
	<div class="featured-header-container">
		<h3>
			<p class="text-featured">Featured</p>
			<p class="text-sub">Work</p>
		</h3>
	</div>
	<div class="project-list">
		<div class="container">
			{{ range where .Site.RegularPages "Section" "projects" }}
				{{ if .Param "featured" }}
					<div class="project-card">
						<div class="padding-1">
							<h4 class="project-title">{{ .Title }}</h4>
							<p class="project-desc">
								{{ .Param "desc" }}
							</p>
							<ul class="project-techs">
								{{ range .Param "stack"}}
									<li>{{ . }}</li>
								{{ end }}
							</ul>
						</div>
						<div class="project-links">
							<div class="padding-1">
								<a href="{{ .Param `code` }}" target="_blank" rel="noreferrer">Code</a>
								<a href="{{ .Param `live` }}" target="_blank" rel="noreferrer">Live</a>
							</div>
						</div>
					</div>
				{{ end }}
			{{ end }}
		</div>
	</div>
	<hr>
</section>
<section class="featured-blog">
	<div class="featured-header-container">
		<h3>
			<p class="text-featured">Featured</p>
			<p class="text-sub">Articles</p>
		</h3>
	</div>
	<div class="container">
		<ul class="blog-list">
			{{ range $i, $e := where (where .Site.RegularPages "Section" "blog") ".Params.featured" "==" true }}
			{{ if $i }} <hr style="margin: 2rem auto;width: 30rem;"> {{ end }}
				<li class="blog-list-item">
					<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
					<h5>{{ .Param "subtitle" }}</h5>
					<p class="date">{{ .Date.Format "January 2, 2006" }}</p>
				</li>
			{{ end }}
		</ul>
	</div>
</section>
{{ end }}